.packages-container {
  display: flex;
  overflow-x: auto; /* Allow horizontal scrolling if needed */
  gap: 20px;
  margin-top: 20px;
}

.package-card {
  flex: 0 0 auto;
  width: 18rem;
}

.package-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.package-text {
  font-size: 0.9rem;
}
